@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&display=swap');

.ityped-cursor { 
    font-weight: 300; 
    color: white;
    font-family: 'Montserrat', sans-serif;
}


*,
*::before,
*::after {
    margin: 0;
    padding: 0; 
    box-sizing: inherit;
}

html { 
    box-sizing: border-box;
    font-size: 62.5%;
    scroll-behavior: smooth !important ;
}

body {
    width: 100vw;
    overflow-x: hidden;
    scroll-behavior: smooth;
    background: linear-gradient(to right, #1a2a44,#2f5187);
    font-family: 'Montserrat', sans-serif;
    color: #FFFFFF;
    height: 100vh;
}


/* NAVBAR */

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 2rem;
    position: relative;
    max-width: 1100px;
    margin: 0 auto; /* Centers the navbar */
    border-radius: 10px; /* Optional: adds rounded corners */
    font-family: 'Montserrat', sans-serif;
}

.navbar-brand {
    display: flex;
    align-items: center;
    gap: 5px;
}

.navbar-logo {
    height: 40px;
    width: 40px;
    border-radius: 50%;
    margin-right: 1rem;
}

.navbar-title {
    font-size: 1.8rem;
    font-weight: 600;
}

.navbar-links {
    list-style: none;
    display: flex;
    gap: 3rem;
    margin: 0;
}

.navbar-links a {
    text-decoration: none;
    color: white;
    font-size: 1.3rem;
    transition: color 0.3s ease;
}

.navbar-links a:hover {
    color: #f7a621;
}

/* Responsive Styling */
@media screen and (max-width: 768px) {
    .navbar {
        flex-direction: column;
        align-items: flex-start;
        padding: 1rem;
    }

    .navbar-links {
        flex-direction: column;
        gap: 1rem;
        width: 100%;
        margin-top: 1rem;
    }

    .navbar-links li {
        width: 100%;
        text-align: left;
    }

    .navbar-links a {
        display: block;
        width: 100%;
    }
}


/* HEADER */

.landing-page {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2rem 5%;
    max-width: 1200px;
    margin: 0 auto;
    margin-top: 50px;
    font-family: 'Montserrat', sans-serif;
}

.content {
    max-width: 60%;
}

.content h1 {
    font-size: 4rem;
    color: #f7a621;
}

.content h2 {
    font-size: 3rem;
    margin: 1rem 0;
}

.content p {
    font-size: 1.6rem;
    line-height: 1.5;
    margin-bottom: 2rem;
}

.btn {
    display: inline-block;
    padding: 1rem 2rem;
    font-size: 1.6rem;
    color: #1a2a44;
    background-color: #fdbf3b;
    border-radius: 5px;
    text-decoration: none;
    transition: background-color 0.3s ease;
}

.btn:hover {
    background-color: #f7a621;
}

.image-container {
    max-width: 35%;
    margin-top: -50px;
}

.image-container img {
    width: 200px;
    border-radius: 10px;
}

@media screen and (max-width: 768px) {
    .landing-page {
        flex-direction: column;
        text-align: center;
    }

    .content, .image-container {
        max-width: 100%;
    }

    .image-container {
        margin-top: 2rem;
    }

    .content h1 {
        font-size: 3rem;
    }

    .content h2 {
        font-size: 2.4rem;
    }

    .content p {
        font-size: 1.4rem;
    }

    .btn {
        font-size: 1.4rem;
    }
}

/* HIRE */

.why-hire-me {
    text-align: center;
    padding: 50px 20px;
    font-family: 'Montserrat', sans-serif;
    margin-top: 30px;
}

.why-hire-me h1 {
    font-size: 2.5rem;
    margin-bottom: 40px;
}

.qualities {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
}

.quality {
    border-radius: 10px;
    padding: 20px;
    width: 250px;
    text-align: center;
}

.quality img {
    border-radius: 50%;
    border: 2px solid #f7a621;
    margin-bottom: 15px;
    width: 100px;
    height: 100px;
}

.quality h2 {
    font-size: 1.5rem;
    margin-bottom: 15px;
    color: #f7a621;
}

.quality p {
    font-size: 1rem;
    line-height: 1.5;
}

@media (max-width: 768px) {
    .quality {
        width: 200px;
    }
}

@media (max-width: 480px) {
    .quality {
        width: 100%;
    }

    .quality img {
        width: 80px;
        height: 80px;
    }
}


/* PROJECTS */

.projects-container {
    padding: 20px;
    text-align: center;
}

h1 {
    margin-bottom: 20px;
}

.projects-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    max-width: 1000px;
    margin: 0 auto;
    margin-top: 60px;
}

.project-card {
    padding: 20px;
    border-radius: 10px;
    text-align: left;
    transition: transform 0.3s ease;
    outline: 1px solid white;
}

.project-card:hover {
    transform: scale(1.05);
}

.slider-container {
    position: relative;
    width: 100%;
    max-width: 100%;
    overflow: hidden;
    border-radius: 10px;
}

.slider {
    display: flex;
    transition: transform 0.5s ease-in-out;
}

.slider img {
    width: 100%;
    border-radius: 10px;
}

.prev, .next {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: rgba(0, 0, 0, 0.1);
    color: white;
    border: none;
    padding: 10px;
    cursor: pointer;
}

.prev {
    left: 10px;
}

.next {
    right: 10px;
}

.project-card h3 {
    font-size: 1.5em;
    margin-bottom: 10px;
    color: #f7a621;
    margin-top: 20px;
}

.project-card p {
    font-size: 0.9em;
    line-height: 1.6;
}




/* INTEREST */

.cta-container {
    display: flex;
    align-items: center;
    justify-content: center; 
    background-color: #1a2d64; 
    padding: 20px ; 
    margin: 0; /* Menghapus semua margin */
    margin-top: 100px;
    width: 100%; /* Membuat lebar penuh */
    height: 120px;
    transition: transform 0.3s ease-in-out;
    background: linear-gradient(to right, #2f5187, #1a2d64);
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.1);
    font-family: 'Montserrat', sans-serif;
}

.cta-container:hover {
    transform: scale(1.05);
}

.cta-text {
    font-family: 'Montserrat', sans-serif;
    color: #ffffff;
    font-size: 1.4rem;
    font-weight: 600;
    margin-right: 20px; 
}

.cta-buttons {
    display: flex;
    gap: 20px;
}

.btn {
    padding: 10px 15px;
    border-radius: 5px;
    font-size: 1rem;
    font-weight: 500;
    text-decoration: none;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    transition: background-color 0.3s ease;
}

.btn-outline {
    color: #ffffff;
    background-color: transparent;
    border: 1px solid #ffffff;
}

.btn-outline:hover {
    background-color: #3756b0;
    color: #1a2d64;
}

.btn-primary {
    color: #1a2d64;
    background-color: #fdbf3b;
    border: none;
}

.btn-primary:hover {
    background-color: #e0a82e;
}

.icon {
    color: white;
}

@media screen and (max-width: 768px) {
    .cta-container {
        flex-direction: column; /* Membuat konten vertikal pada layar lebih kecil */
        text-align: center;
        padding: 15px;
        width: 90%; /* Mengurangi lebar pada layar lebih kecil */
    }

    .cta-text {
        margin-right: 0; /* Menghilangkan margin kanan */
        margin-bottom: 10px; /* Menambahkan jarak bawah antara teks dan tombol */
        font-size: 1rem; /* Mengurangi ukuran font */
    }

    .btn {
        width: 100%; /* Membuat tombol memenuhi lebar kontainer */
        padding: 10px;
    }

    .cta-buttons {
        flex-direction: column; /* Membuat tombol vertikal */
        gap: 10px; /* Mengurangi jarak antara tombol */
    }
}

@media screen and (max-width: 480px) {
    .cta-container {
        width: 100%; /* Memastikan lebar penuh pada layar sangat kecil */
    }

    .cta-text {
        font-size: 0.9rem; /* Mengurangi ukuran font lebih lanjut */
    }

    .btn {
        font-size: 0.9rem; /* Mengurangi ukuran font tombol */
    }
}


/* Youtube */
.youtube-section {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
    color: white;
    border-radius: 10px;
    max-width: 1200px;
    margin: 0 auto;
    margin-top: 100px;
    font-family: 'Montserrat', sans-serif;
}

.video-container {
    position: relative;
    max-width: 45%;
    transition: transform 0.3s ease-in-out;
}

.video-container:hover {
    transform: scale(1.05);
}

.video-container img {
    width: 350px;
    margin-right: 20px;
}

.thumbnail {
    width: 100%;
    border-radius: 10px;
}

.play-button {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(0, 0, 0, 0.5);
    padding: 15px;
    border-radius: 50%;
}

.play-button img {
    width: 50px;
}

.content-container {
    max-width: 50%;
    margin-left: 20px;
    margin-top: -15px;
}

.content-container h2 {
    font-size: 3rem;
    margin-bottom: 10px;
    color: white;
    margin-top: 30px;
}

.content-container h2 span {
    color: #fdbf3b;
}

.content-container p {
    font-size: 1rem;
    line-height: 1.6;
    margin-bottom: 20px;
    color: white;
}

.cta-button {
    display: inline-block;
    background-color: #e63946;
    color: white;
    padding: 10px 20px;
    border-radius: 5px;
    text-decoration: none;
    font-weight: bold;
    transition: background-color 0.3s ease;
    transition: transform 0.3s ease-in-out;
}

.cta-button:hover {
    background-color: #d62828;
    transform: scale(1.05);
    
}


@media screen and (max-width: 768px) {
    .youtube-section {
        flex-direction: column;
        text-align: center;
        padding: 15px;
    }

    .video-container,
    .content-container {
        max-width: 100%;
        margin-left: 0;
    }

    .content-container h2 {
        font-size: 1.5rem;
    }

    .content-container p {
        font-size: 0.9rem;
    }

    .cta-button {
        padding: 8px 15px;
        font-size: 0.9rem;
    }
}

@media screen and (max-width: 480px) {
    .content-container h2 {
        font-size: 1.25rem;
    }

    .content-container p {
        font-size: 0.8rem;
    }

    .cta-button {
        padding: 6px 10px;
        font-size: 0.8rem;
    }
}


/*Windah Basudaar*/

.quote-section {
    display: flex;
    align-items: center;
    justify-content: center;
    background: linear-gradient(to right, #2f5187, #1a2d64);
    color: white;
    padding: 20px;
    width: 100%;
    height: 350px;
    margin: 0 auto;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.1);
    box-sizing: border-box;
    margin-top: 135px;
    font-family: 'Montserrat', sans-serif;
    transition: transform 0.3s ease-in-out;
}

.quote-section:hover {
    transform: scale(1.05);

}
.quote-section img {
    width: 250px;
    height: 250px;
    object-fit: cover;
    margin-right: 60px;
}

.quote-text {
    flex: 1;
    max-width: 800px;
}

.quote-text p {
    font-size: 18px;
    line-height: 1.6;
    margin: 0 0 10px 0;
}

.quote-text h4 {
    font-size: 18px;
    color: #f7a621;
    margin: 0;
    margin-top: 20px;
}

.quote-text small {
    font-size: 10px;
    color: #B0BEC5;
}


@media (max-width: 768px) {
    .quote-section {
        flex-direction: column;
        text-align: center;
        padding: 20px;
    }

    .quote-section img {
        margin: 0 0 20px 0;
    }

    .quote-text {
        max-width: 100%;
    }
}

@media (max-width: 480px) {
    .quote-text p {
        font-size: 16px;
    }

    .quote-text h4 {
        font-size: 20px;
    }

    .quote-text small {
        font-size: 14px;
    }

    .quote-section img {
        width: 120px;
        height: 120px;
    }
}

/* Tools */

.skills-section {
    text-align: center;
    color: white;
    padding: 50px 20px;
    border-radius: 8px;
    max-width: 1100px;
    margin: 50px auto;
    font-family: 'Montserrat', sans-serif;
}

.skills-section h2 {
    margin-bottom: 30px;
    font-size: 28px;
}

.skills-grid {
    display: flex;
    justify-content: center;
}

.skills-grid img {
    max-width: 450px;
    height: auto;
    transition: transform 0.3s ease;
}

.skills-grid img:hover {
    transform: scale(1.05);
}

@media (max-width: 768px) {
    .skills-section h2 {
        font-size: 28px;
    }
}

@media (max-width: 480px) {
    .skills-section h2 {
        font-size: 24px;
    }
}

/* Profile */

.contact-section {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: linear-gradient(to right, #2f5187, #1a2d64);
    color: white;
    padding: 180px;
    width: 100%;
    height: 540px;
    box-sizing: border-box;
    gap: 20px;
    font-family: 'Montserrat', sans-serif;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.1);
}

.contact-content {
    max-width: 50%;
}

.contact-content h2 {
    font-size: 36px;
    margin-bottom: 20px;
}

.contact-content p {
    margin: 10px 0;
    margin-bottom: 20px;
    font-size: 13px;
}

.contact-content .email {
    font-weight: bold;
    font-size: 18px;
}

.contact-buttons {
    display: flex;
    align-items: center;
    gap: 15px;
    margin-top: 20px;
}

.contact-buttons a {
    text-decoration: none;
    color: #233e8c;
    font-weight: bold;
}

.contact-buttons img {
    width: 40px;
    height: 40px;
    transition: transform 0.3s ease;
}

.contact-buttons img:hover {
    transform: scale(1.1);
}

.email-button {
    background-color: #fdbf3b;
    padding: 10px 20px;
    border-radius: 5px;
    text-decoration: none;
    color: #0E4A8E;
    font-weight: bold;
    transition: background-color 0.3s ease;
}

.email-button:hover {
    background-color: #f7a621;
}

.contact-image {
    max-width: 50%;
}

.contact-image img {
    max-width: 200px;
    height: auto;
    border-radius: 8px;
}

/* Responsive Design */
@media (max-width: 768px) {
    .contact-section {
        flex-direction: column;
        align-items: center;
        text-align: center;
        padding: 30px;
    }

    .contact-content {
        max-width: 100%;
    }

    .contact-image {
        max-width: 80%;
        margin-top: 20px;
    }

    .contact-buttons {
        justify-content: center;
    }
}

@media (max-width: 480px) {
    .contact-content h2 {
        font-size: 24px;
    }

    .contact-buttons img {
        width: 30px;
        height: 30px;
    }

    .email-button {
        padding: 8px 15px;
    }
}






